.title {
    width: 100%;
    padding: 40px;
    letter-spacing: .8rem;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.top {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}

.skill {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 47px;
    text-align: center;
    width: 25%;
    min-width: 150px;
}

.skills,
h4 {
    color: #0022FF;
}

.skill,
h4,
li {
    margin-bottom: 10px;
}

.skill div {
    background-color: #fff;
    position: relative;
    top: -40px;
    border: 2px solid #8E9CF2;
    border-radius: 50%;
    margin: 0 auto;
    height: 6rem;
    width: 6rem;
}

.skillIcons {
    font-size: 60px;
    color: #0022FF;
    margin-top: 15px;
}

.bottom {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 100px;
    margin-top: 100px;
}

.people {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 47px;
    text-align: center;
}

.people div {
    background-color: #fff;
    position: relative;
    top: -40px;
    border: 2px solid #8E9CF2;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    height: 6rem;
    width: 6rem;
}

@media only screen and (max-width: 375px) {
    .top {
        display: inline;
        list-style: none;
        justify-content: none;
        padding: 0px;
        text-align: center;
    }

    .skill {
        padding: 10px;
        background-color: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 47px;
        text-align: center;
        width: 25%;
        min-width: 250px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .bottom {
        list-style-type: none;
        text-align: center;
        margin: 0 auto;
        width: 50%;
        min-width: 250px;
        margin-bottom: 100px;
        margin-top: 100px;
    }
}