.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.topNav {
    flex: 1;
    padding: 20px;
    background-color: #333;
    color: white;
    min-height: 100vh;
}

.avatar {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    filter: drop-shadow(0px 5px 3px #332111);
}

.body {
    flex: 6;
    background-color: #F6F5F5;
}

.name {
    text-align: center;
    padding-top: 10px;
    padding: 10px 0px 10px 0px;
    letter-spacing: 2px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.hobby {
    padding-top: 10px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav {
    text-align: center;
    list-style: none;
    padding-top: 40px;
}

.nav li {
    padding: 10px;
}

.about {
    margin-top: 30px;
    padding: 5px;
}

name,
ul,
.hobby,
.nav,
.about {
    font-size: 1rem;
}

.footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.footer a {
    color: white;
    font-size: 25px;
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
        height: 100vh;
        min-height: none;
        display: unset;
    }

    .avatar {
        position: absolute;
        top: 0;
        left: 0;
        height: 4vh;
        width: 4vh;
        border-radius: 50%;
        overflow: hidden;
        margin: 3px;
        filter: drop-shadow(0px 5px 3px #332111);
        animation: none;
    }

    .topNav {
        display: flex;
        flex: content;
        padding: 0px;
        background-color: #333;
        color: white;
        min-height: 5vh;
        height: 5vh;
    }

    .name, ul, .hobby {
        display: none;
    }
    .nav {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        text-align: center;
        list-style: none;
        padding-top: 0px;
        font-size: 12px;
    }

    .nav li {
        padding: 10px;
    }

    .about {
        width: 100%;
        margin-top: 0px;
        padding: 10px;
        bottom: 4vh;
        position: absolute;
        background-color: #333;
        font-size: 10px;
    }

    .about h3 {
        text-transform: capitalize;
        color: grey
    }

    .about p {
        font-size: 10px;
    }

    .footer {
        position: absolute;
        background-color: #333;
        color: #ffffff;
        bottom: 0;
        left: 0;
        margin-top: 0;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
    .footer a {
        color: white;
        font-size: 25px;
    }

    .body {
        flex: none;
        background-color: E5E5E5;
        height: 80vh;
        overflow: scroll;
    }

}

@media screen and (max-width: 300px) {
    .topNav {
        display: flex;
        flex: content;
        padding: 0px;
        background-color: #333;
        color: white;
        min-height: 12vh;
    }
    .nav {
        display: inline;
        flex:content;
        text-align: right;
        list-style: none;
        padding: 12px;
        font-size: 12px;
        margin: 0;
    }
    .nav li {
        padding: 0;
    }

    .avatar {
        height: 8vh;
        width: 8vh;
        border-radius: 50%;
        overflow: hidden;
        margin: 10px 10px;
        filter: drop-shadow(0px 5px 3px #332111);
    }

}